.page-title,
.title {
    text-align: center;
    color: #00896F;
    margin: 40px 0;
}

.form textarea,
input:not([type=checkbox]) {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #00896F;
    padding: 5px 10px;
    border-radius: 5px;
}